<!DOCTYPE html>
<head>
	<title>AMOMS<% if (title) {%> - <%=title%><%}%></title>
	<link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	