<ul class="sidebar-nav">
	<li class="sidebar-brand">
		AMOMS
	</li>
	<li <%- (path.indexOf("/account") == 0 ? 'class="active"' : "")%>>
		<a href="/accounts">Accounts</a>
	</li>
	<li class="parent">
		<a>Journals</a>
		<ul>
			<li <%- (path.indexOf("/journal/current") == 0 ? 'class="active"' : "")%>>
				<a href="/journal/current">Current Journal</a>
			</li>
			<li <%- ((path.indexOf("/journal") == 0 && path.indexOf("current") == -1) ? 'class="active"' : "")%>>
				<a href="/journals">Closed Journals</a>
			</li>
		</ul>
	</li>
</ul>
