<ul class="sidebar-nav">
	<li class="sidebar-brand">
		AMOMS
	</li>
	<% if (user.accessLevel == "Administrator") { %>
		<li <%- (path.indexOf("/employees") == 0 ? 'class="active"' : "")%>>
			<a href="/employees">Employees</a>
		</li>
	<% } %>
</ul>
