<html>
{% load staticfiles %}
  <head>
    <link rel= "stylesheet" type="text/css" href="{% static 'Schedule:Report.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
  </head>
  <body style="background-color:#white">
    <div id="mySidenav" >
    </div>
    <div class="buttonsMenu">
      <ul>
        <a href="{% url 'Schedule:rhome' %}">
          <li id="Home" href="{% url 'Schedule:rhome' %}" style="position:fixed;top:140px; left:0px; z-index:60;">
          </li>
        </a>
        <a href="ReportPage-Receptionist.html">
          <li id="ReportsButton" href="{% url 'Schedule:rreports' %}" style="position:fixed;top:180px; left:0px; z-index:60;">
          </li>
        </a>
        <li id="ScheduleButton" href="{% url 'Schedule:rreports' %}" style="position:fixed;top:220px;left:0px;z-index:60;">
        </li>
        <li id="AddUsersButton" href="{% url 'Schedule:rreports' %}" style="position:fixed;top:260px;left:0px;z-index:60;">
        </li>
      </ul>
    </div>
    <div id="TopMenu" class="TopMenu">
      <a class="CurrentUser"> User:Receptionist</a>
      <div id="SettingsMenu">
        <ul>
          <li><img id="HelpPicture" src="{% static 'Schedule/images/HelpSymbol.jpg' %}"><a id="Help" href="#Lock">Help</a></li>
          <li><img id="SettingsPicture" src="{% static 'Schedule/images/settings.jpg' %}"><a id="Settings" href="#Settings">Settings</a></li>
          <li><img id="LogOutPicture" src="{% static 'Schedule/images/logoutSymbol.jpg' %}"> <a id="LogOut" href="#Log Out">Log Out</a></li>
          <li><img id="LockPicture" src="{% static 'Schedule/images/lockSymbol.jpg' %}"><a id="Lock" href="#Lock">Lock</a></li>
        </ul>
      </div>
    </div>
    <div  class="bottomMenu">
      <button id="ReportList">
        <img src="{% static 'Schedule/images/triangle.jpg' %}" style="height:12px;width:12px;position:absolute;top:16px;right:80px">
        Appointment Remainders
      </button>
    </div>
    <input type="text" id="SearchBar" onkeyup="myFunction()" placeholder="Search for appointments.." title="Type in a name">
<div class="bootstrap-iso" style="position:absolute;top:23%;left:70%;z-index:50;height:0;width:350px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action="https://formden.com/post/MlKtmY4x/" class="form-horizontal" method="post">
              <div class="form-group ">
                <div class="col-sm-10">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar">
                      </i>
                    </div>
                    <input class="form-control" id="dateFrom1" name="date" placeholder="Date From" type="text"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<div class="bootstrap-iso" style="position:absolute;top:23%;left:80%;z-index:50;height:0;width:400px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form action="https://formden.com/post/MlKtmY4x/" class="form-horizontal" method="post">
              <div class="form-group ">
                <div class="col-sm-10">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar">
                      </i>
                    </div>
                    <input class="form-control" id="DateTo1" name="date" placeholder="Date To" type="text"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <buton class ="AddButton" style="position:absolute;top:23%;right:3%;z-index:40;">
      Apply
    </buton>
    <select class="FilterList">
      <option disabled selected>Select access....</option>
      <option value="Most Recent Appointments">Most Recent</option>
      <option value="Oldest">Oldest</option>
      <option value="HightoLow">High to Low ID</option>
      <option value="LowtoHigh">Low to High ID</option>
    </select>
    <table border="0" class="UserTable">
      <tr>
        <th align="left" width="10%" id="AptID">APPOINTMENT ID</th>
        <th align="left" width="10%" id="PatientID">PATIENT ID</th>
        <th align="left" width="30%" id="PractitionerName">Practitioner Name</th> 
        <th align="left" width="10%" id="ApptDate">APPT. DATE</th>
        <th align="left" id="Reason">REASON FOR VISIT</th>
      </tr>
      <tr>
      </tr>
    </table>

  </body>
</html>