<html>
{% load staticfiles %}
  <head>
    <link rel= "stylesheet" type="text/css" href="{% static 'Schedule/Report.css' %}">
  </head>
  <body style="background-color:#white">

    <div id="mySidenav" >

    </div>
    <div class="buttonsMenu">
      <ul>
        <li>
          <a id="Home" href="{% url 'Schedule:ahome' %}" style="position:fixed;top:140px; left:0px; z-index:60;">
          </a>
        </li>
        <li>
          <a id="Reports" href="{% url 'Schedule:areports' %}" style="position:fixed;top:180px; left:0px; z-index:60;">
          </a>
        </li>
      </ul>

    </div>
    <div id="TopMenu" class="TopMenu">
      <a class="CurrentUser"> User:Administrator</a>
      <div id="SettingsMenu">
        <ul>
          <li><img id="HelpPicture" src="{% static 'Schedule/images/HelpSymbol.jpg' %}"><a id="Help" href="#Lock">Help</a></li>
          <li><img id="SettingsPicture" src="{% static 'Schedule/images/settings.jpg' %}"><a id="Settings" href="#Settings">Settings</a></li>
          <li><img id="LogOutPicture" src="{% static 'Schedule/images/logoutSymbol.jpg' %}"> <a id="LogOut" href="#Log Out">Log Out</a></li>
          <li><img id="LockPicture" src="{% static 'Schedule/images/lockSymbol.jpg' %}"><a id="Lock" href="#Lock">Lock</a></li>
        </ul>
      </div>
    </div>
    <div  class="bottomMenu">
      <a id="AddUsers" href="{% url 'Schedule:register' %}" style="position:absolute; top:32px; left:120px;">Appointment Remainders</a>
      <button id="ReportList">
        <img src="{% static 'Schedule/images/triangle.jpg' %}" style="height:12px;width:12px;position:absolute;top:16px;right:35px">
        Report List
      </button>
    </div>
    <input type="text" id="SearchBar" onkeyup="myFunction()" placeholder="Search for appointments.." title="Type in a name">
    <select class="FilterList">
      <option disabled selected>Select access....</option>
      <option value="Most Recent Appointments">Most Recent</option>
      <option value="Oldest">Oldest</option>
      <option value="HightoLow">High to Low ID</option>
      <option value="LowtoHigh">Low to High ID</option>
    </select>
    <table border="0" class="UserTable">
      <tr>
        <th align="left" width="10%" id="AptID">APPOINTMENT ID</th>
        <th align="left" width="10%" id="PatientID">PATIENT ID</th>
        <th align="left" width="30%" id="PractitionerName">Practitioner Name</th> 
        <th align="left" width="10%" id="ApptDate">APPT. DATE</th>
        <th align="left" id="Reason">REASON FOR VISIT</th>
      </tr>
      <tr>
      </tr>
    </table>

  </body>
</html>