<html>
{% load staticfiles %}
  <head>
    <link rel= "stylesheet" type="text/css" href="{% static 'Schedule/PatientList.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
  </head>
  <body style="background-color:#white">

    <div id="mySidenav" >

    </div>
    <div class="buttonsMenu">
      <ul>
        <a href="{% url 'Schedule:rhome' %}">
          <li id="Home" href="{% url 'Schedule:rhome' %}" style="position:fixed;top:140px; left:0px; z-index:60;">
          </li>
        </a>

        <a href="{% url 'Schedule:rreports' %}">
          <li id="ReportsButton" href="{% url 'Schedule:rreports' %}" style="position:fixed;top:180px; left:0px; z-index:60;">
          </li>
        </a>

        <a href="{% url 'Schedule:rhome' %}">
          <li id="ScheduleButton" href="{% url 'Schedule:rhome' %}" style="position:fixed;top:220px;left:0px;z-index:60;">
          </li>
        </a>

          <a href="{% url 'Schedule:raddpatient' %}">
            <li id="AddUsersButton" href="{% url 'Schedule:raddpatient' %}" style="position:fixed;top:260px;left:0px;z-index:60;">
            </li>
          </a>

          <a href="{% url 'Schedule:rpatients' %}">
            <li id="PatientProfiles" href="{% url 'Schedule:rpatients' %}" style="position:fixed;top:300px;left:0px;z-index:60;">
            </li>
          </a>
      </ul>

    </div>
    <div id="TopMenu" class="TopMenu">
      <a class="CurrentUser"> User:Receptionist</a>
      <div id="SettingsMenu">
        <ul>
          <li><img id="HelpPicture" src="{% static 'Schedule/images/HelpSymbol.jpg' %}"><a id="Help" href="#Lock">Help</a></li>
          <li><img id="SettingsPicture" src="{% static 'Schedule/images/settings.jpg' %}"><a id="Settings" href="#Settings">Settings</a></li>
          <li><img id="LogOutPicture" src="{% static 'Schedule/images/logoutSymbol.jpg' %}"> <a id="LogOut" href="#LogOut">Log Out</a></li>
          <li><img id="LockPicture" src="{% static 'Schedule/images/lockSymbol.jpg' %}"><a id="Lock" href="#Lock">Lock</a></li>
        </ul>
      </div>
    </div>
    <div  class="bottomMenu">
      <a id="AddUsers" href="{% url 'Schedule:rpatients' %}" style="position:absolute; top:32px; left:120px;">Patient Profiles</a>
    </div>
<div class="FilterMenu">
    <input type="text" id="SearchBar" onkeyup="myFunction()" placeholder="Search for patients.." title="Type in a name">
  <buton class ="RecentButton" style="position:absolute;top:21%;left:37%;z-index:40;">
    Recent 
  </buton>
  <buton class ="ScheduledButton" style="position:absolute;top:21%;left:30%;z-index:40;">
    Scheduled 
  </buton>
  <buton class ="ScheduledButton" style="position:absolute;top:21%;left:30%;z-index:40;">
    Scheduled 
  </buton>
  <buton class ="AddPatient" style="position:absolute;top:21%;right:10%;z-index:40;">
    Apply 
  </buton>
    </div>
    <div class="ContextBrowser">
    <table border="0" class="UserTable">
      <tr>
        <th align="center" id="date" width="12%">First</th>
        <th align="left" id="Time" width="15%">LastName</th>
        <th align="left" id="PatientsName" width="30%">DOB</th>
        <th align="left" id="Pratitioner" width="30%">Contact Info</th>
        <th align="left" id="Pratitioner" width="30%">Accessed</th>
      </tr>
      </table>
    </div>
       
      
  

  </body>
</html>