<html>
  <head>
    <link rel= "stylesheet" type="text/css" href="PractitionerStyle.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
  </head>
  <body style="background-color:#white">

    <div id="mySidenav" >

    </div>
    <div class="buttonsMenu">
      <ul>
        <a href="Home-Receptionist.html">
          <li id="Home" href="home" style="position:fixed;top:140px; left:0px; z-index:60;">
          </li>
        </a>

        <li id="ScheduleButton" href="Reports" style="position:fixed;top:180px;left:0px;z-index:60;">
        </li>

        <a href="PatientProfiles.html">
          <li id="PatientProfiles" href="Reports" style="position:fixed;top:220px;left:0px;z-index:60;">
          </li>
        </a>
      </ul>

    </div>
    <div id="TopMenu" class="TopMenu">
      <a class="CurrentUser"> User:Practitioner</a>
      <div id="SettingsMenu">
        <ul>
          <li><img id="HelpPicture" src="Images/HelpSymbol.jpg"><a id="Help" href="#Lock">Help</a></li> 
          <li><img id="SettingsPicture" src="Images/settings.jpg"><a id="Settings" href="#Settings">Settings</a></li>
          <li><img id="LogOutPicture" src="Images/logoutSymbol.jpg"> <a id="LogOut" href="#Log Out">Log Out</a></li>
          <li><img id="LockPicture" src="Images/lockSymbol.jpg"><a id="Lock" href="#Lock">Lock</a></li> 
        </ul>
      </div>
    </div>
    <div  class="bottomMenu">
      <a id="AddUsers" href="Add Users" style="position:absolute; top:32px; left:120px;">Patient Profile</a>
      <div class="PatientProfile" style="position:absolute;top:80px;left:100px;">
        <div class="Patient-Photo">

        </div>
        <div class="PatientName">

        </div>
        <div class="PatientNumber">

        </div>
        <div class="PatientYears">

        </div>
        <div class="DOB">

        </div>
        <div class="Home-Phone">

        </div>
      </div>
      <div class="Line">
      </div>
      <div class="PatientProfile">
        <div class="PatientLeftColumn">
          <div class="Diagnosis">
            <h3 class="Header">
              Diagnosis
            </h3>
            <button id="AddingButton">          
            </button>
            <!--
<div id="myModal" class="modal">
<div class="modal-content">
<span class="close">&times;</span>  
<label class="TextPatient">ADD DIAGNOSIS</label>
<br>
<input type="text" name="Diagnosis">
<br>
<label class="TextPatient">START DATE</label>
<br>
<input type="date">
<br>
<label class="TextPatient">STOP DATE</label>
<br>
<input type="date">
<br>
<button class="AddButton">
Add
</button>
</div>
-->
            <!--

</div>
-->
            <table border="0" class="DiagnosisTable">
              <th>Diagnosis</th>
              <th >Start Date</th>
              <th>Stop Date</th>
            </table>
          </div>
          <div class="SocialHistory">
            <h3 class="Header" id="SocialHistory">
              Social History
            </h3>
            <button id="EditButton">             
            </button>
            <!--
<div id="myModal1" class="modal1">
<div class="modal-content1">
<span class="close1">&times;</span>  
<input type="radio" name="gender" value="male" checked> Never Smokes<br>
<input type="radio" name="gender" value="female"> Former Smoker<br>
<input type="radio" name="gender" value="other"> Heavy Tobacco Smoker<br>
<button class="Submit">

</button>
</div>
</div>
-->
            <table border="0" id="SocialHistoryTable">
              <th>Smoking Status</th>
            </table>
          </div>


        </div>
        <div class="LeftLine">

        </div>
        <div class="PatientCenterColumn">
          <div class="AptSession">
            <h3 class="Header" id="AptSession">
              AptSession
            </h3>
            <button id="StartButton">
              Start
            </button>
            <button id="StopButton">
              Stop
            </button>
            <table border="0" id="AptSessTable">
              <th width="70%">Apt Date</th>
              <th>Start Date</th>
              <th>Stop Date</th>
            </table>
          </div>
          <h3 class="Header" id="PrescEditor">
            Prescription Editor
          </h3>

          <table border="0" id="PstTable">
            <tr>
              <th width="100%%">Medication</th>
              <th>Date</th>
            </tr>
            <tr>
            </tr>
          </table>
          <button id="EditButton2">             
          </button>


          <!--
<div id="myModal2" class="modal2">
<div class="modal-content2">
<span class="close2">&times;</span>  
<textarea name="diagnosis" placeholder="Medical Problems"></textarea>
<button class="Submit">

</button>
</div>
</div>
-->
        </div>
      </div>
      <div class="RightLine">

      </div>
      <div class="PatientRightColumn">
        <h3 class="Header" id="PastMedicalHistory">
          Past Medical History
        </h3>
        <h4 class="SubHeader" id="MajorEvents">
          Major Events
        </h4>
        <textarea readonly id="MajorEventsText" class="PastText"></textarea>
        <!--
<table border="0" id="PastHistory">
<tr>
<th width="100%%">Past Medications</th>
</tr>
<tr>
<td><textarea readonly name="PastMedical" id="pstTable" cols="20" rows="20" readonly></textarea></td>
</tr>

-->
        <button id="EditButton3"></button>

        <!-- The Modal -->
        <div id="PrescriptionForm" class="modal">

          <!-- Modal content -->
          <div class="PrescriptionList">
            <span class="close">&times;</span>

          </div>

        </div>
        <button id="PrintButton">
        </button>
      </div>
    </div>
    <script>
      // Get the modal
      var PrescriptionForm = document.getElementById('PrescriptionForm');

      // Get the button that opens the modal
      var btn = document.getElementById("EditButton3");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        PrescriptionForm.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        PrescriptionForm.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == PrescriptionForm) {
          PrescriptionForm.style.display = "none";
        }
      }
    </script>

  </body>
</html>